body, html
  width 100%
  height 100%
  font-family MS-serif, 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  ::-webkit-scrollbar
    display none
  appearance none